example-pulse/
example-color-transfer/
example-svm-smile/
example-svm/
example-tree/
example-tsp/

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*

.svn/
obj/
bin/
build/
!data/
xcuserdata/

ipch/
*.suo
*.opensdf
*.vcxproj.user

*.obj
*.tlog
*.sdf
*.pdb
*.idb
*.pch
Debug/
Release/

ofxCv.wiki/
